#handles {
  text-align: center;
  background-color: #39393a;
  padding-top: 1%;
  padding-bottom: 1%;
}

.social-media-bar {
  width: 45%;
  padding: 1% 0;
}

.icon-center {
  vertical-align: middle;
}

.handle-icon {
  width: 45px;
  transition: all 0.2s ease 0s;
}

.handle-icon:hover {
  width: 50px;
}
